*{
    background-color: rgb(236, 150, 190);
    color: rgb(0, 0, 0);
}

   

h1{
    text-align: center;
    font-family: cursive;
}

.Principal{

    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.Coluna{
    display: flex;
    flex-direction: column;
}

.Coluna2{
    display: flex;
    flex-direction: column;
}


